<h1><%= @user.name %></h1>
<h4><%= @user.email %></h4>

<h1 class="current-category"><%= params[:type] %></h1>

<% if @posts.count == 0 %>
	<h1>There are no posts in this category</h1>
	<% else %>

	<div class="row">

		<% @posts.each do |post| %>

			<div class="col-md-12">
				
				<div class="book-index-desc">
					<div class="book-index-content">
						<h4><%= link_to post.title, post %></h4>
						<h6><%= post.summary %></h6>
						<h6>Posted in:
						<%= link_to post.type.name, posts_path(type: post.type.name), class: "link" %></h6>
						<h6>Posted by <%= link_to post.user.name, user_path(id: post.user.id) %></h6>
					</div>
				</div>

			</div>	

		<% end %>


	</div>


	<% end %>

<%= link_to "Create Post", new_post_path %>
