<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>
<h4><%= @user.email %></h4>

<% if user_signed_in? && @user.id == current_user.id %>
		<p><%= link_to 'Edit Profile',edit_user_registration_path %></p>
<% end %>
<div class="col-md-12">
	<div class="snippet-index-desc">
		<div class="snippet-index-content">
			<h6>Snippet:</h6>
			 <% @snippets.each do |snippet| %>
				<p><%= markdown(snippet.summary) %></p>
				<div class="new-btn">
				<p>	
					<%= link_to "Edit", edit_snippet_path(id: snippet.id), :class => 'waves-effect btn-large' %>
				</p>
				</div>
				
		 	<% end %>
		</div>

	</div>	
	<% if @user.snippets.count == 0 %>
	<div class="new-btn">
		<%= link_to "Create Snippet", new_snippet_path,  :class => 'waves-effect btn-large' %>

	</div>
	<% end %>
</div>

<h1 class="current-category"><%= params[:type] %></h1>


<div class="row">
	<div class="cold-md-8">
	<% if @posts.count == 0 %>
		<h1>This user has no posts.</h1>
		<% else %>

			<h4>Posts</h4>
			<% @posts.each do |post| %>
				
				<div class="book-index-desc">
					<div class="book-index-content">
						<h4><%= link_to post.title, post %></h4>
						<h6><%= post.summary %></h6>
						<h6>Submitted <%= time_ago_in_words(post.created_at) %> ago, by <%= link_to post.user.name, user_path(id: post.user.id) %> in
						<%= link_to post.type.name, posts_path(type: post.type.name), class: "link" %></h6>

					</div>
				</div>
			<% end %>

	<% end %>	
	</div>	
</div>
	
	<div class="col-md-4">
	<h2>OKR's</h2>
	<h4>Current OKR's</h4>
		<% if @user.goals.where(complete: false).count >= 1 %>
		
			<% @goals.each do |goal| %>
				<% if goal.complete == false %>
					<div class="goal-index-desc">
						<div class="goal-index-content">
				 	
				 			<div class="okr-index-container">
								<h6 class="goal-header">Objective:</h6>
								<p><%= goal.objecive %></p>
								<h6 class="goal-header">Key Results:</h6>
								<p><%= markdown(goal.key_results) %></p>
								<h6 class="goal-header">Deadline:</h6>
								<p><%= goal.deadline.strftime("%d %B %Y") %></p>
							</div>
							<% if current_user.id == goal.user.id %>
								<div class="edit-goal-index-button">
									<%= link_to "EDIT", edit_goal_path(id: goal.id) %>
								</div>
								<div class="complete-goal-index-button">
									<%= link_to "Completed", goal_path(:id => goal.id, "goal[complete]" => true), :remote => true, :method => :patch, 
	:data => {:confirm => "Nice work, #{current_user.name}. Can you confirm you've completeted:\n\n#{goal.objecive}"} %>

								</div>
							<% end %>
			 	
			 	
						</div>
		
					</div>	
				<% end %>
			<% end %>
		<% else %>
			<p>There are no OKR's</p>	
		<% end %> 	
	
		<div class="new-btn">
			<%= link_to "New OKR", new_goal_path,  :class => 'waves-effect btn-large' %>
		</div>
		
		<% if @user.goals.where(complete: true).count >= 1 %>

		<h4>Past OKR's</h4>
			<% @goals.each do |goal| %>
				<% if goal.complete %>
					<div class="goal-index-desc">
						<div class="goal-index-content">
				 	
				 			<div class="okr-index-container">
								<h6 class="goal-header">Objective:</h6>
								<p><%= goal.objecive %></p>
								<h6 class="goal-header">Key Results:</h6>
								<p><%= markdown(goal.key_results) %></p>
								<h6 class="goal-header">Deadline:</h6>
								<p><%= goal.deadline.strftime("%d %B %Y") %></p>
							</div>
							<% if current_user.id == goal.user.id %>
								<div class="edit-goal-index-button">
									<%= link_to "Not Completed", goal_path(:id => goal.id, "goal[complete]" => false), :remote => true, :method => :patch, :data => {:confirm => 'Are you sure you want to mark this OKR as incomplete?'}  %>

								</div>
			 				<% end %>
			 	
						</div>
		
					</div>	
				<% end %>
			<% end %>
		<% else %>

		<% end %>	

	</div>



