<div class="col-md-9">
	<h1><%= @user.name %></h1>
	<h4><%= @user.job_title %></h4>
	<h4><%= @user.email %></h4>

</div>	
<div class="col-md-3">
	<h6><strong>Phone:</strong> <%= @user.phone %></h6>
	<h6><strong>Website:</strong> <%= @user.website %></h6>
	<h6><strong>Charlie HR:</strong> <%= @user.charlie_HR %></h6>
	<h6><strong>Twitter:</strong> <%= @user.twitter_handle %></h6>
	<h6><strong>LinkedIn:</strong> <%= @user.linkedin %></h6>

</div>

<h1 class="current-category"><%= params[:type] %></h1>

<% if @posts.count == 0 %>
	<h1>There are no posts in this category</h1>
	<% else %>

	<div class="row">

		<% @posts.each do |post| %>

			<div class="col-md-12">
				
				<div class="book-index-desc">
					<div class="book-index-content">
						<h4><%= link_to post.title, post %></h4>
						<h6><%= post.summary %></h6>
						<h6>Posted in:
						<%= link_to post.type.name, posts_path(type: post.type.name), class: "link" %>, Posted by <%= link_to post.user.name, user_path(id: post.user.id) %></h6>
					</div>
				</div>

			</div>	

		<% end %>


	</div>


	<% end %>

