<%= simple_form_for @post, :html => { :multipart => true } do |f| %>

<%= select_tag(:type_id, options_for_select(@types), :prompt => "Select a type") %>
<div class="form-material">
	<%= f.input :title, label: false, placeholder: "Post Title" %>
	<%= f.input :summary, label: false, placeholder: "Summary" %>
	<%= f.input :url, label: false, placeholder: "Link" %>
	<%= f.input :author, label: false, placeholder: "Author" %>
</div>	

	<div class="new-btn">
		<%= f.button :submit, :class => 'waves-effect btn-large' %>
	</div>

<% end %>

<%= form_for @post do |f| %>
  <%= f.simplemde_text_area :description %>
<% end %>