<div class="col-md-6 col-md-offset-3">
	<div class="new-book-form">

		<h1>Edit Post</h1>

		<%= simple_form_for @post, :html => { :multipart => true } do |f| %>
			
			<%= f.select :type_id, @types %>
			<%= f.file_field :post_img %>
			<%= f.input :title, label: "Post Title" %>
			<%= f.input :summary, label: "Summary" %>
			<%= f.input :url, label: "Link" %>
			<%= f.input :description %>
			<%= f.input :author %>
			<div class="new-btn">
				<%= f.button :submit, :class => 'waves-effect btn-large' %>
			</div>


		<% end %>
	</div>
</div>	