<h1 class="current-category"><%= params[:type] %></h1>

<% if @posts.count == 0 %>
	<h1>There are no posts in this category</h1>
	<% else %>

	<div class="row">

		<% @posts.each do |post| %>

			<div class="col-md-12">
				<% if post.post_img? %> 
				<a href="/posts/<%= post.id %>">
					<%= image_tag post.post_img.url, class: "book" %>
					
				</a>
				<% end %>
				<div class="book-index-desc">
					<div class="book-index-content">
						<h1><%= link_to post.title, post %></h1>
						<h4><%= post.summary %></h4>
						<h6><%= post.author %></h6>
						<h6>Category: <strong><%= post.type.name %></strong></h6>

						<br>
						<p><%= link_to post.title, post %></p>
					</div>
				</div>

			</div>	

		<% end %>


	</div>


	<% end %>

<%= link_to "Create Post", new_post_path %>
