<div class="row">
	<div class="col-md-12">
		<div class="post-info">
			<h2 class="post-title"><%= @post.title %></h2>
			<h6>Submitted <%= time_ago_in_words(@post.created_at) %> ago, by <%= link_to @post.user.name, user_path(id: @post.user.id) %> in <%= link_to @post.type.name, posts_path(type: @post.type.name), class: "link" %></h6>
			<h6 ><span>Author: </span><%= @post.author %></h6>



			<h6>Link: <%= @post.url %></h6>
			<div class="post-desc">
				<p><%= markdown(@post.description) %></p>
			</div>
<div class="links btn-group">
				<%= link_to "Back", root_path, class: "btn btn-custom" %>

					<% if user_signed_in? %>
						<% if @post.user_id == current_user.id %>
							<%= link_to "Edit", edit_post_path(@post), class: "btn btn-custom" %>
							<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
						<% end %>
					<% end %>
			</div>	

		</div>
	<div class="col-md-8">
		<div class="reviews">
			<h1>Notes</h1>
			<%= render @post.reviews %>
			<div class="new-btn">
				<%= link_to "Add Note", new_post_review_path(@post), class: "waves-effect btn-large" %> 
				<br>
				<br>
			</div>
	</div>		
				
		</div>
	</div>

</div>
