<%= simple_form_for(@goal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-material">
    <%= f.input :objecive, label: false, placeholder: "Objecive" %>
    <%= f.input :key_results, label: false, placeholder: "Key Results" %>
    <%= f.input :deadline %>
	<%= f.input :complete, as: :boolean, checked_value: true, unchecked_value: false %>

  </div>

  <div class="form-actions new-btn">
    <%= f.button :submit, :class => 'waves-effect btn-large' %>
  </div>
<% end %>


