<p id="notice"><%= notice %></p>

<p>
  <strong>Objecive:</strong>
  <%= @goal.objecive %>
</p>

<p>
  <strong>Key results:</strong>
  <%= @goal.key_results %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @goal.deadline %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
