<div class="review">
	<h6><%= link_to review.user.name, user_path(id: review.user.id) %> on <%= review.created_at.strftime("%e/%-m/%Y") %></h6	>
	<p class="review-comment"><%= review.comment %></p>
	



	<% if user_signed_in? %>

		<% if review.user_id == current_user.id %>

		<div class="links btn-group">

			<%= link_to "Edit", edit_post_review_path(review.post, review), class: "btn btn-custom" %>
			<%= link_to "Delete", post_review_path(review.post, review), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-custom" %>
		</div>
	<% end %>

	<% end %>
</div>