<!DOCTYPE html>
<html>
  <head>
    <title>Minibarra Team Dashboard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="white">
  </head>

  <body>

      <nav class="navbar navbar-default">

        <div class="container">
        
          <div class="navbar-header">
            <%= link_to "minibarra", root_path, class: "navbar-brand" %>

          </div>

        <%if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to "Posts", posts_path %></li>
            <li><%= link_to "Company", company_goals_path %></li>
          </ul>
       <% end %> 



        <ul class="nav navbar-nav navbar-right ">
          <% if user_signed_in? %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">Team <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <% User.all.each do |user| %>
                      <li>
                        <%= link_to user.name, user_path(id: user.id), class: "link" %>
                      </li>
                    <% end %>
                </ul>
            </li>




            <li><%= link_to 'My Profile', user_path(current_user) %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>


          <% end %>
        </ul>

      </div>
      </nav>


      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>

       <div class="container">
          <%= yield %>
      </div>


      <div class="footer">
        <p class="minibarra-logo">minibarra</p>
      </footer>
  </body>
</html>
